.imgBox{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.imgBox:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.dataContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputContainer{
    display: flex;
    padding-bottom: 20px;
}