.globalWindow{
    display: flex;
    height: 98vh;
}

.navPanel{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: #fff;
    border: 1px solid rgba(204, 204, 204, 0.4);
    position: sticky;
    top: 0;
}

.navPanelActive{
    width: 160px;
    transform: translateX(0px);
    transition: transform 1s, width 1s;
}

.navPanelDisaple{
    transform: translateX(-160px);
    width: 0;

    transition: transform 1s, width 1s;
}


.upPart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.downPart{
    width: 100%;
}

.downPart:hover{
    cursor: pointer;
}

.logoContainer{
    display: flex;
    justify-content: center;
}

.navigationContainer{
    width: 100%;
}

.listMenu{
    list-style-type: none;
    padding-left: 0px;
}

.logo{
    width: 50%
}

.mainContainer{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.statusPanel{
    padding-top: 10px;
    height: 50px;
    display: flex;
}

.link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: gray;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: transparent;
}
.link:hover{
    border-right-color: #1B1BDD;
}

.link:active{
    color: gray;
}

.link:active{
    color: gray;
}

.link:hover .icon, .link:hover .titleItem{
    transform: translateY(0px);
    color: #1B1BDD;
}

.icon{
    font-size: 50px;
    width: 100%;
    z-index: 1;
    transform: translateY(15px);
    transition: transform 1s;
}

.titleItem{
    transform: translateY(-15px);
    color: #fff;
    transition: transform 1s, color 0.5s;
    margin: 0px;
}

.buttonChangeVisibeNavigation{
    font-size: 20px;
    color: gray
}

.buttonChangeVisibeNavigation:hover{
    color: #1B1BDD;
    cursor: pointer;
}

.buttonChangeVisibeNavigationShow{
    transform: rotateY(0 deg);
    transition: transform 1s;
}

.buttonChangeVisibeNavigationHide{
    transform: rotateY(180deg);
    transition: transform 1s;
}