.row{
    line-height: 35px;
}

.head{
    font-size: 22px;
    font-weight: 500;
}

.data{
    font-size: 16px;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

.data:hover{
    cursor: pointer;
    background-color: #1B1BDD;
    color: white
}

.imgIcon{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cell{
    text-align: center;
}
